{% extends 'base.html' %}

{% block title%}Home{% endblock%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/crypto.js"></script>
    <title>Home Page</title>
    <script>
      function logout() {
        sessionStorage.clear();
        window.location.href = 'showLogin';
      }
    </script>
</head>
<body>
    <br>
    <table  class="table"> 
      <thead>
        <th>Name</th>
        <th>Price</th>
        <th>24h change(%)</th>
        <th>Amount</th>
        <th>Buy</th>
      </thead>
      <tbody id="cryptotable">

      </tbody>
    </table>

    <script src="../static/css/bootstrap-theme.min.css" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
</body>
</html>
{% endblock %}

{% block script%}
<script type="text/javascript" src="{{ url_for('static', filename='js/crypto.js') }}"></script>
{% endblock %}